@{
    ViewData["Title"] = "Home Page";
}
@*<div class="jumbotron">
        <h1>Lost and Found Pets</h1>
    </div>*@
<div class="container">
    <div class="starter-template">
        <h1>Find Your Pets</h1>
        <p class="lead">
            Lost and Found Pets is a web application to help reunite lost
            pets with their owners. If you are looking for a lost pet or
            have found a lost animal, please use the "Make A Post" link above.
        </p>
    </div>
    <div class="container frontpage">
        <div class="row">
            <div class="col-md-6">
                <h3>Lost</h3>
                <a asp-area="" asp-controller="Posts" asp-action="Lost">
                    <img src="~/images/animal_bg_1.jpg" alt="Lost animals" class="img-responsive samesize" />
                </a>
                @*<button type="button" class="btn btn-lg btn-outline-primary">Primary</button>*@
                <div class="caption linkinpic">
                    <a asp-area="" asp-controller="Posts" asp-action="Lost">Lost</a>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Found</h3>
                <a asp-area="" asp-controller="Posts" asp-action="Found">
                    <img src="~/images/animal_bg_3.jpg" alt="Found animals" class="img-responsive samesize" />
                </a>
                <div class="caption linkinpic">
                    <a asp-area="" asp-controller="Posts" asp-action="Found">Found</a>
                </div>
            </div>

        </div>
    </div>
</div>

