body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100%;
}
.homepage {
    height: 100%;
    background-image: url(../images/animal_bg.jpg);
    background-position: center;
}
.linkinpic a {
    color:white;
    font-size:70px;

}
boxes {
    display:grid;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
/* Listing block*/
.pet {
    border: medium solid #cdcdcd;
    padding: 10px;
    margin: 0 -2px -2px 0;
}
.pet img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.pet h4 {
    text-align:center;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
.samesize {
    width: 450px;
    height: 450px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
.frontpage .col-md-6 {
    text-align: center;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.thumbnail {
    /*display: block;*/
    height: 100%;
    /*width: 100%;*/
    padding: 10px;
}

.thumbnail img {
    display: block;
    width: auto;
    height: 100%;
}
/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
